# Node dependencies
node_modules/

# Env secrets
.env

# Database
*.db
*.db-shm
*.db-wal

# PM2 logs
logs/

# npm logs
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# examples
curls.txt/.claude/
